h3 {
  margin-top: 15px;
}

.f_name {
  height: 36px;
  text-align: right;
  vertical-align: middle;
  padding-right: 20px;
}

.line-height {
  line-height: 36px;
}

.f_name_form {
  width: 80%;
  height: 30px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #e5e5e5;
  border-radius: 5px;
}

.f_content_form {
  width: 80%;
  height: 100px;
  border-color: #e5e5e5;
  border-radius: 5px;
}

.f_image_form {
  width: 80%;
  height: 30px;
}

.uk-button-default {
  border-radius: 15px;
  border-color: #b2b2b2;
}

.uk-button-default:hover {
  border-color: #81D8D0;
  background-color: #81D8D0;
  color: #fff;
}

.btn_f {
  text-align: center;
  margin-top: 10px;
}

.uk-alert-danger {
  margin-right: 15px;
}
