/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require uikit/dist/css/uikit.min.css
 *= require_tree .
 *= require_self
 */
 html {
   height: 2000px;
 }

 body {
   height: 2000px;
 }

 main {
  height: 2000px;
}
 #hr {
   border-color: #81D8D0;
   border-width: 10px;
   margin-bottom: 10px;
 }

 #hr_footer {
   border-color: #81D8D0;
   border-width: 10px;
   margin-bottom: 1px;
 }

 h1 {
   color: #2a2c2d;
 }
 .uk-heading-primary {
   text-align: center;
   font-size: 2rem;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .uk-icon {
   margin-left: 25px;
   margin-top: 5px;
 }

.home {
  margin-left: 15px;
}
.pencil {
  margin-left: 17px;
  font-size: 15px;
}

.li_album {
  margin-left: 17px;
}
.album {
  margin-left: 10px;
  font-size: 15px;
}

.happy {
  margin-left: 13px;
  font-size: 15px;
}

 .uk-iconnav {
   margin-left: 5px;
   margin-top: 20px;
 }

 a.uk-icon {
   color: #353838;
 }

 aside {
   height: 1000px;
 }

 .area {
   padding-right: 15px;
 }

 .uk-search-default .uk-search-input {
   border-color: #888e8d;
 }

 a.uk-icon:hover,
 a.uk-icon:focus {
   color: #81D8D0;
 }

 .current_user_area {
   padding-top: 15px;
   padding-bottom: 15px;
   margin-left: 7px;
 }

 span.uk-icon {
   color: #353838;
 }

 span.uk-icon:hover,
 span.uk-icon:focus {
   color: #81D8D0;
}

.user_image{
  margin-left: 15px;
}

.btn_f_edit {
  margin-top: 20px;
  text-align: center;
}

.user_b {
  text-align: center;
}
