.uk-card-title {
  font-size: 18px;
}

.uk-card-body p {
  margin-top: 35px;
  margin-bottom: 10px;
}

.uk-card-body  {
  padding-right: 0;
  padding-left: 30px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.search {
  text-align: right;
}

.user_image {
  width: 70px;
height: 70px;
object-fit: cover;
}
