.show_area {
  max-width: 60%;
  margin: 0 auto;
}

p {
  margin-left: 20px;
}

.uk-card-body {
  padding-bottom: 30px;
}

#hr {
  border-color: #81D8D0;
  border-width: 10px;
  margin-bottom: 10px;
}

.uk-card {
  margin-top: 35px;
}
